<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Home</title>
  <script src="lib/react.min.js"></script>
  <script src="lib/react-dom.min.js" crossorigin></script>
  <script src="lib/browser.min.js"></script>
</head>

<body>
  <span>Ajinomoto</span>
  <div id="root">
    <span>Alo</span>
  </div>

  <script src="App.jsx" type="text/babel">

  </script>

</body>

</html>
