* {
    font-family: oswald, sans-serif;
}

.mainContent {
    background-image: url("../img/blog.jpg");
    height: 423px;
    background-size: cover;
    font-weight: 400;
    text-align: right;
    text-transform: uppercase;
    color: #f6f5f3;
    padding-top: 248px;
    padding-right: 10px;
    font-size: 49px;
    letter-spacing: 15px;
    position: relative;
    z-index: 1;
}

.main-inner::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: #171717;
    opacity: 0.6;
    z-index: -1;
}

.list ul {
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
}

.list ul li {
    list-style: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
    padding: 0 37px;
    font-size: 13px;
    font-weight: bold;
}

.col-xs-4{
    height: 423px;
    width: 1px;
    background-color: #404040;
}